*{
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
.botao {
    width: 80px;
}