* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
}

.titulo-principal {
    border: solid 1px ;

}

.mini-menu{
    display: flex;
    flex-direction: column;
    border: solid 1px ;
    margin-right: 70%;
}
.imagens-veiculos{
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}