

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    width: 990px;
    
    display: flex;
    justify-content: space-between;

}

.logo{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none ;
    
}

nav ul {
    display: flex;
}

.menu {

    display: flex; 
    align-items: center;

}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #727272

}
nav ul li a:hover {
    background-color: #39aae1;
    color: white;
}

#banner {
    background-image: url('img/img1.jpg');
    /*background-size: contain;
    background-repeat: no-repeat; */ 
    background-size: cover;
    background-position: center;
    height: 670px;
    display: flex;
    justify-content: center;
}


.coluna{
    flex-direction: column;
}
.bannercima {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}


.bannercima h1 {
    color: white;
    font-size: 70px;
    margin: 0;
    padding: 0;
    text-shadow: 0px 1px 0px #555;
    max-width: 350px;

}


.bannercima h2 {
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-shadow: 0px 1px 0px #555;
    max-width: 350px;
}

.bannerbaixo {
    height: 210px;
    display: flex;
}

.banner1 {
    background-color: #39aae1;
    flex: 1;
    color: white;
    font-size: 20px;
    padding: 20px;
}

.banner2 {
    background-color: #0079c7;
    flex: 1;
    color: white;
    font-size: 20px;
    padding: 20px;
}

.banner3 {
    background-color: #2b4c99;
    flex: 1;
    color: white;
    font-size: 20px;
    padding: 20px;
}


.bannertexto {
    font-size: 12px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bannerbaixo a {
    /*display: inline-block;*/
    text-decoration: none;
    font-size: 12px;
    border: white 1px solid;
    color: white;
    padding: 5px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}
#geral aside {
    flex: 1;
}


.wd_titulo {
    margin-top: 30px;
    margin-bottom: 20px;
}

.wd_titulo_texto {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.wd_titulo_barra {
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 10px;
}
article .noticias_data{
    display: flex;
}
article .not_data{
    background-color: #2b4c99;
    color: white;
    font-size: 12px;
    padding: 10px;
    text-transform: uppercase;
    margin-right: 2px;
    
}

article .not_coment{
    background-color: #36a9e1;
    color: white;
    font-size: 12px;
    padding: 10px;
}

.noticias_imagem {
    margin-top: 30px;
}
.noticias_imagem img {
    width: 100%;
    height: auto;
}
.noticias_titulo {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 20px;
}
.noticias_resumo {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
}
.wd_corpo {
    display: flex;
    flex-wrap: wrap;
}
article {
    flex: 1;
    min-width: 300px;
    padding: 10px;
}

footer {
    background-color: #1e1e1e;
 }
.footer1 {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;

}

.banner_footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    height: 210px;
    width: 59%;
    color: white;
   
}

.banner_footer_1 {
    background-color: #39aae1;
}

.banner_footer_2 {
    background-color: #0079c7;

}

.banner_footer_3 {
    background-color: #2b4c99;
}


.banner_footer div {
    flex: 1;
    padding: 20px;
}

.banner_footer div div {
    text-align: center;
    
}

.wd_titulo_final {
    font-size: 20px;
}
.wd_desc_final {
    font-size: 15px;
}

.footer2 {
    
    display: flex;
    justify-content: center;  
}

.wd_item_final {
    padding-top: 20px;
    width: 20%;
}

.recent_inf {
    color: white;
}

.wd_titulo_inf_finais {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.copyright {
    padding-left: 20%;
    color: #555;
}