body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
}
.container{
    width: 990px;
    height: 120px;
    display: flex;
}

.logo{
    background-color: red;
}

