body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
}
.container{
    width: 990px;
    height: 120px;
    display: flex;
    justify-content: space-between;

}

.logo{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none ;
    
}

nav ul {
    display: flex;
}

.menu {

    display: flex; 
    align-items: center;

}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #727272

}
nav ul li a:hover {
    background-color: #39aae1;
    color: white;
}